.section_wrapper {
  background: #f9f9f9;
  margin: 3.125rem auto 0;
  padding: 2.5rem 11rem;
}
.section_content_wrapper {
  margin: 0 auto;
  max-width: 1680px;
  /* padding: 2.5rem 6.25rem 0; */
  /* text-align: center; */
}
.section_heading {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  color: #151515;
  margin: 0 auto 3.0625rem auto;
}
.client_content_wrapper {
  height: max-content !important;
  min-height: 9.25rem !important;
  /* width: 13.1875rem !important; */
  text-align: center;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  position: relative;
}
.image_container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* flex-wrap: wrap; */
  padding: 1rem;

  /* border: 1px solid #d1d1d1;
  border-radius: 10px; */
  background: #fff;
  height: 100%;
  /* gap: 1.875rem; */
  object-fit: contain;
  width: 10rem;
  /* height: 4rem; */
}

@media screen and (max-width: 992px) {
  .section_wrapper {
    padding: 2.5rem 3.125rem;
  }
  .section_content_wrapper {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .section_wrapper {
    padding: 2.5rem 2.5rem;
  }

  /* .image_container {
    width: 8.25rem;
  } */
}
@media screen and (max-width: 480px) {
  /* .image_container {
    width: 100%;
  } */
  .section_heading {
    font-size: 1.25rem;
  }
}
