.section_wrapper {
}
.section_content_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
.section_content_row2 {
  width: 70%;
}
.section_heading {
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
  color: #605d62;
  margin-bottom: 0.8125rem;
}
.inputStyle {
  background: rgba(241, 245, 249, 0.4);
  border: 1px solid #cbd5e1;
  border-radius: 15px;
  min-height: 3.5rem;
  height: 100%;
  color: #151515;
}
.section_cancel_btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #ffffff;
  box-shadow: 0px 5px 50px rgba(0, 67, 101, 0.08);
  border-radius: 8px;
  padding: 10px 20px;
  letter-spacing: 0.1px;
  color: #5902b3;
  height: auto;
  margin-left: 6rem;
}
.section_cancel_btn:hover {
  color: #5902b3;
  background: #ffffff;
}
.section_save_btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #5902b3;
  box-shadow: 0px 5px 50px rgba(0, 67, 101, 0.08);
  border-radius: 8px;
  padding: 10px 20px;
  letter-spacing: 0.1px;
  color: #ffffff;
  height: auto;
  margin-left: 1rem;
}
.section_save_btn:hover {
  color: #ffffff;
  background: #5902b3;
}
@media screen and (max-width: 768px) {
  .section_content_row2 {
    width: 100%;
  }
}
@media screen and (max-width: 396px) {
  .section_cancel_btn {
    margin-left: 0rem;
  }
}
@media screen and (max-width: 292px) {
  .section_save_btn {
    margin-left: 0rem;
    width: 100%;
    margin-top: 1rem;
  }
  .section_cancel_btn {
    margin-left: 0rem;
    width: 100%;
  }
}
