.container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 2px;
  width: 93%;
  margin: 20px auto 50px;
  padding: 20px 0;
}
.img_wrapper {
  display: flex;
  justify-content: center;
}
.thank_you_text {
  font-family: Roboto;
  font-size: 20px;
  color: #253d4e;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}
.order_text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #253d4e;
}
.btn_wrapper {
  display: flex;
  justify-content: center;
}
.continue_shop_btn {
  margin-top: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  border: 1px solid black;
  padding: 10px;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
}
