.heading_subscription {
  font-size: 1.5rem;
  color: #03000d;
}
.heading_subscription2 {
  font-size: 1.5rem;
  color: #1e1f4b;
  text-align: center;
}
.heading_subscription3 {
  font-size: 3rem;
  color: #1e1f4b;
}
.heading_subscription4 {
  font-size: 0.8rem;
  color: #1e1f4b;
}

.heading_subscription5 {
  font-size: 1rem;
  color: #1e1f4b;
  text-align: center;
}
.main_layout_subscription {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 5px 50px rgba(0, 67, 101, 0.08);
  border-radius: 12px;
  padding: 30px;
}
.col_subscription {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 90%;
  padding: 0px !important;
}
.subscription_button {
  background: rgba(89, 2, 179, 0.12);
  border-radius: 0px 0px 15px 15px;
  color: #5902b3;
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}
.subscription_button:hover {
  background: #5902b3;
  border-radius: 0px 0px 15px 15px;
  color: #fff;
}
.current_plan {
  text-align: center;
  margin-top: -1rem;
  background-color: #3bb77e;
  border-radius: 1.2rem;
  padding: 0.5rem;
  color: #fff;
}
.subscribe_div {
  border: 1px solid #cac4d0;
  border-radius: 12px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox {
  color: #5902b3 !important;
  text-decoration: revert !important;
}
.disable_span {
  opacity: 0.8;
  pointer-events: none;
  color: gray !important;

  background: rgba(89, 2, 179, 0.12);
  border-radius: 0px 0px 15px 15px;

  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .subscribe_div {
    display: block;
  }
}
@media (max-width: 800px) {
  .heading_subscription3 {
    font-size: 2.3rem;
  }
  .heading_subscription2 {
    font-size: 1.2rem;
  }
}
