.section_wrapper {
  margin: 0 auto;
  max-width: 1680px;
  padding: 2.5rem 6.25rem 0;
}
.section_content_wrapper {
  /* margin: 2.5rem 6.25rem 0; */
}
.section_tag_text_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.25rem;
}
.section_heading {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #151515;
  margin-bottom: 1.875rem;
}
.section_tag_text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1.0625rem;
  background: #e9f1f8;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  color: #151515;
  text-transform: capitalize;
}

@media screen and (max-width: 992px) {
  .section_wrapper {
    padding: 2.5rem 3.125rem 0;
  }
}
@media screen and (max-width: 600px) {
  .section_wrapper {
    padding: 2.5rem 2.5rem 0;
  }
  .section_tag_text_wrapper {
    gap: 0.625rem;
  }
  .section_tag_text {
    padding: 0.3125rem 0.625rem;
  }
  .section_heading {
    margin-bottom: 0.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .section_wrapper {
    padding: 2.5rem 1.1875rem 0;
  }
  .section_heading {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
